.painel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 18vw;
    background-color: rgb(215, 219, 223);
    color: #272727;
    border-radius: 4px;
    border: 0.8px solid #4d2c07;
    box-shadow: 5px 5px 9px #4d2c07;
}

.panel-button-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}